:root {
    --pri: #eae8fe;
    --sec: #6327fe;
    --white: #fff;
  }


* {
  font-family: "Noto Sans KR", sans-serif;
  box-sizing: border-box;
}


.colaContainer {
  width: 100%;
  height: 364px;
  overflow-y: scroll;
  padding: 12px 12px 0px;
  background: #eae8fe;
  border: 1px solid #bdbdbd;
  box-sizing: border-box;
  border-radius: 5px;
}


.colaContainer::-webkit-scrollbar {
    width: 6px;  
}

.colaContainer::-webkit-scrollbar-thumb {
    height: 79px;
    background-color: var(--white);
    border-radius: 3px;
} 

.colaContainer::-webkit-scrollbar-track {
    background-color: transparent;
}


.colaContainer > li {
  background-image: url("images/cola_sprites.png");
  background-repeat: no-repeat;
  display: flex;
  padding: 8px;
  margin-bottom: 6px;
  border-radius: 5px;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
}

.colaContainer > li > span {
  font-weight: 500;
  font-size: 9px;
  line-height: 13px;
  margin-left: 30px;
}

.colaContainer__original {
  background-position: 0px -4px;
}

.colaContainer__green {
  background-position: 0px -57px;
}

.colaContainer__orange {
  background-position: 0px -110px;
}

.colaContainer__violet {
  background-position: 0px -163px;
}

.colaContainer > li > button {
    width: 30px;
    height: 30px;
  border: 1px solid #bdbdbd;
  box-sizing: border-box;
  border-radius: 5px;
  background-color: #fff;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;i
}

.txt--color-violet {
    display: flex;
    justify-content: space-between;
    padding: 6px 10px;
    background-color: var(--pri);
    font-weight: 500;
font-size: 14px;
line-height: 20px;
border-radius: 5px;
}

.button--side {
    float:right;
    width: 94px;
    padding: 6px 0 7px;
    font-weight: 500;
    font-size: 13px;
    line-height: 19px;
    background-color: #fff;
    border: none;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
}

.button--side::after {
    clear: right;
}