:root {
  --pri: #eae8fe;
  --sec: #6327fe;
  --white: #fff;
}

* {
  font-family: "Noto Sans KR", sans-serif;
  box-sizing: border-box;
}

input,
button {
  cursor: pointer;
}

/* layout */

.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.header {
  text-align: center;
}

.logo {
  width: 386px;
}

.main {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 748px;
  min-width: 360px;
  margin: 247px auto 0;
}

/* design */

body {
  background-color: var(--pri);
  margin: 0 auto;
}

.main > section {
  max-width: 360px;
  flex-grow: 1;
}

.main__column--left {
  padding: 30px 27px;
  background-color: var(--white);
}

.main__column--right {
  padding: 9px 27px;
  background-color: var(--white);
}

.selectList {
  display: grid;
  grid-template-columns: repeat(3, 94px);
  gap: 12px;
  margin-bottom: 20px;
}

.selectList__element {
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
}

.selectList__element.soldout {
  position: relative;
}

.selectList__element.soldout::before {
  content: url("images/sold-out.png");
  position: absolute;
  left: 0;
}

.selectList__element > img {
  width: 36px;
  margin: 11px 0 6px;
}

.selectList__element > label {
  display: block;
  height: 10px;
  font-style: normal;
  font-weight: 500;
  font-size: 9px;
  line-height: 13px;
}

.selectList__element > input {
  padding: 5px 16px 5px 15px;
  margin: 7px 0 9px;
  background: var(--sec);
  border: none;
  border-radius: 50px;
  font-weight: 500;
  font-size: 12px;
  line-height: 100%;
  color: var(--white);
}

.select {
  outline: 3px solid var(--sec);
}

.nonselect {
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
}

.input--money {
  padding: 0 0 6px 5px;
  width: 200px;
  background: #ffffff;
  border: 1px solid #bdbdbd;
  box-sizing: border-box;
  border-radius: 5px;
}

.input--money::placeholder {
  color: #bdbdbd;
  font-weight: 500;
  font-size: 13px;
  line-height: 19px;
}

.txt--color-small {
  float: left;
  width: 200px;
  margin-bottom: 11px;
}

.colaContainer--small {
  margin-top: 12px;
  width: 200px;
  height: 106px;
  overflow-y: scroll;
  float: left;
}

.button--big {
  float: right;
  width: 94px;
  height: 106px;
  margin-top: 12px;
  font-weight: 700;
  font-size: 13px;
  line-height: 19px;
  color: #ffffff;
  background: #6327fe;
  border: none;
  border-radius: 5px;
}

.division {
  margin-right: -27px;
  margin-left: -27px;
  height: 20px;
  background-color: var(--pri);
  border: none;
}

.getListTitle {
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  display: flex;
  justify-content: center;
  margin: 25px 0 13px;
}

.txt-total {
  float: right;
  font-weight: 500;
  font-size: 12px;
  line-height: 17px;
  margin-top: 6px;
}

/* 태블릿, 아이패드 */

@media screen and (max-width: 768px) {
  body {
    width: 360px;
    background-color: var(--white);
  }
  .logo {
    width: 166px;
  }
  .main {
    margin-top: 0;
  }

  .division {
    display: none;
  }
  .getListTitle {
    margin-top: 41px;
  }
  .txt-total {
    margin-bottom: 41px;
  }
}
